
body{
    background-color: rgb(230, 230, 173);
}
.first{
    text-align:center;
    color:black;
   
    font-weight: bold;
    font-size:22px;
}
.second{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    height:160px;
    
    
}
.one{
    width:100px;
    height:90px;
    background-color:#03735b;
    margin:20px;
    animation-name:sample;
    animation-duration:5s;
    animation-timing-function: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes sample{
    0% {  transform:skew(-30deg);}
    100% { transform:skew(30deg);}
}
.third{
    
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    
}
.two{
    width:100px;
    height:90px;
    background-color: gray;
    margin:20px;
   
    animation-name:sample2;
    animation-duration:3s;
    animation-timing-function: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    
}
@keyframes sample2{
    0% {  transform:skewY(-15deg);}
    100% { transform:skewY(15deg);}
}
.fourth{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    
}
.three{
    width:100px;
    height:90px;
    background-color:#03735b ;
    margin:20px;
    animation-name:sample3;
    animation-duration:2s;
    animation-timing-function: 1s;
    animation-iteration-count: infinite;
    animation-direction:;
}
@keyframes sample3{
    0% {  transform:rotate(90deg);}
    100% { transform:rotate(360deg);}
}
.fifth{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
   
    
}
.four{
  
    margin:30px;
}
.four1{
    width:100px;
    height:50px;
  
    background-color:#03735b;
    animation-name:sample4;
    animation-duration:3s;
    animation-timing-function: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
@keyframes sample4{
    0% {  transform:scale(1,1);}
    100% { transform:scale(1,1.9); }
}
.four2{
    width:50px;
    height:90px;
   
    background-color:maroon;
    animation-name:sample5;
    animation-duration:2s;
    animation-timing-function: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
@keyframes sample5{
    0% {  transform:scale(1,1);}
    100% { transform:scale(1.9,1); }
}
.four3{
    width:100px;
    height:90px;
    background-color: green;
    animation-name:sample6;
    animation-duration:2s;
    animation-timing-function: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
@keyframes sample6{
    0% {  transform:rotate(90deg);}
    100% { transform:rotate(180deg);}
}
.common{
    padding-top:120px;
    padding-left:-100px;
}
.sixth{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    font-size:19px;
    text-decoration: underline;
    color:maroon;

}
.sixth a{
    color:maroon;
}


